
.jumbotron {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
}

.jumbotron-heading {
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1300px;
}

#mainText {
  margin: 20px auto 30px auto;
}

.row {
  margin: 20px auto 40px;
}

.card-img-top {
	cursor: pointer;
}

.modal-footer {
  justify-content: flex-start;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin: 60px auto 12px;
}

@media (max-width: 600px) {
  .jumbotron {
    width: 90%;
  }
  .jumbotron-heading {
    font-size: 4rem;
  }
  #mainText {
    font-size: 1.1rem;
  }
}
